<footer class="app-footer mt-auto">
  <div class="container py-4">
    <div class="row align-items-center gy-3">

      <!-- Brand -->
      <div class="col-12 col-md-4 d-flex align-items-center gap-3">
        <div>
          <div class="fw-semibold">FramerCircle</div>
          <div class="small text-muted">
            Private mini-group critique rooms for weekly photo challenges
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 d-flex align-items-center gap-3">
        <div>
          <%= image_tag "probsolved_paulroberts_horiz_820-copy.png",
              alt: "FramerCircle",
              style: "width: 300px; height: auto" %>
        </div>
        </div>

        <!-- Contact -->
        <div class="col-12 col-md-4 text-md-end">
          <div class="small text-muted mt-1">
            © <%= Time.current.year %> PROBsolved.dev Web Development, LLC
          </div>
          <div class="small">
            <span class="text-muted">Contact:</span>
            <a href="mailto:paul@probsolved.dev" class="footer-link">
              paul@probsolved.dev
            </a>
          </div>
        </div>

      </div>
    </div>
</footer>