<div class="modal fade" id="photoLightbox" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content" style="background: transparent; border: 0;">
      <div class="modal-body p-0 position-relative">
        <button type="button" class="btn-close position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" aria-label="Close" style="filter: invert(1); opacity: 0.9;"></button>

        <img id="photoLightboxImg" src="" alt="Full size" class="img-fluid rounded" style="width: 100%; height: auto; display: block;" />
      </div>
    </div>
  </div>
</div>