test:
  service: Disk
  root: <%= Rails.root.join("tmp/storage") %>

local:
  service: Disk
  root: <%= Rails.root.join("storage") %>

r2:
  service: S3
  endpoint: <%= ENV.fetch("R2_ENDPOINT") %>
  access_key_id: <%= ENV.fetch("R2_ACCESS_KEY_ID") %>
  secret_access_key: <%= ENV.fetch("R2_SECRET_ACCESS_KEY") %>
  bucket: <%= ENV.fetch("R2_BUCKET") %>

  # Cloudflare R2 specifics
  region: auto
  force_path_style: true

  # These help prevent subtle issues with S3-compatible providers
  upload:
    acl: private
  public: false
